<div class="container mt-5">
    <h2>Formulario de Contacto</h2>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="contact.name" name="name" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
          El nombre es requerido.
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="contact.email" name="email" #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          Un correo válido es requerido.
        </div>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Mensaje</label>
        <textarea class="form-control" id="message" rows="3" required [(ngModel)]="contact.message" name="message" #message="ngModel"></textarea>
        <div *ngIf="message.invalid && (message.dirty || message.touched)" class="text-danger">
          El mensaje es requerido.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="contactForm.form.invalid">Enviar</button>
    </form>
  </div>